:root {
	--primary: #CB9276;
	--secondary: #00403C;
	--secondary-rgb: 185, 115, 90;
	--tertiary: #E9D9BF;

	--on-surface: #FFF;

	--body-gradient: radial-gradient(
		circle,
		var(--tertiary) 0%,
		rgba(233, 217, 191, 0.6) 100%
	);
}
